body {
	text-align: center;
	font-family: Ubuntu;
}

table {
	border-collapse: collapse;
	margin: auto;
	border: 2px solid black;
}

#grid td {
	width: 42px;
	height: 42px;
	border: 1px solid black;
}

#menu {
	padding: 0px;
	list-style-type: none;
}

#menu li {
	display: inline;
}

#menu input {
	width: 120px;
}

.hidden {
	display: none;
}

.displayed {
	display: block;
}

.number, .cell {
	text-align: center;
}

.number {
	background-color: yellow;
}
